section {
    margin: auto;
    text-align: center;
    border: solid 1px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    font-size: 2rem;
}

.div-e,
.div-g {
    border-right: solid 2px black;
}