.section-a {
    background-color: lightblue;
}

.section-b {
    background-color: lightcoral;
}

.section-c {
    background-color: lightslategray;
}

.section-d {
    background-color: lime;
}

.div-e {
    background-color: maroon;
}

.div-f {
    background-color: midnightblue;
}

.div-g {
    background-color: white;
}

.div-h {
    background-color: yellow;
}

.section-i {
    background-color: brown;
}